/*1366 para notebooks*/

/*abaixo de 1344*/
@media (max-width: 84em){
    .hero{
        max-width: 120rem;
    }
    .heading-primary{
        font-size: 4.2rem;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}
/*tablets abaixo de 1200*/
@media (max-width: 75em){
    html{
        /* 9 / 16 = 0,5625 * 100 = 56,25%*/
        font-size: 56,25%;
    }
    .grid{
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .heading-primary{
        font-size: 3.6rem;
    }
    .heading-tertiary{
        font-size: 2.4rem;
    }
    .header{
        padding: 0 3.2rem;
    }
    .hero{
        gap: 4.8rem;
    }
    .main-nav-list{
        gap: 3.2rem;
    }
    .testimonials-container{
        padding: 9.6rem 3.2rem;
    }
    .logos{
        gap: 2.4rem;
    }
}
/*tablets abaixo de 944px*/
@media (max-width: 59em){
    html{
        /*8px / 16px = 0.5 * 100 = 50%*/
        font-size: 50%;
    }
    .hero{
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }
    .hero-text-box,
    .hero-img-box{
        text-align: center;
    }
    .hero-img{
        width: 60%;
    }
    .delivered-meals{
        justify-content: center;
        margin-top: 3.2rem;
    }
    .logos{
        height: 2.4rem;
        flex-wrap: wrap;
        gap: 1.6rem;
    }
    .step-number{
        font-size: 7.4rem;
    }
    .meal-content{
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }
    .section-testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(6, 1fr);
    }
    .cta{
        grid-template-columns: 3fr 2fr;
    }
    .cta-form{
        grid-template-columns: 1fr;
    }
    .btn--form{
        margin-top: 1.2rem;
    }
    /*Mobile nav*/
    .btn-mobile-nav{
        display: block;
    }
    .main-nav{
        background-color: rgba(248, 216, 189, 0.651);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.5s;
        /*usamos opacity para esconder o elemento*/
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    .nav-open .main-nav{
        /*usando javascript podemos ativar e desativar a classe nav-open que irá mostrar a barra de navegação para mobile*/
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-outline"]{
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }
    /*ocultar o navbar*/
    .main-nav-list{
        flex-direction: column;
        gap: 4.8rem;
    }
    .main-nav-link:link,
    .main-nav-link:visited{
        font-size: 3rem;
    }    
}
@media (max-width: 44em){
    .grid--3-cols,
    .grid--4-cols{
        grid-template-columns: repeat(2, 1fr);
    }
    .diets{
        grid-column: 1 / -1;
        justify-self: center;
    }
    .logos{
        flex-wrap: wrap;
        gap: 1.6rem;
    }
    .heading-secondary{
        margin-bottom: 4.8rem;
    }
    .pricing-plan{
        width: 100%;
    }
    .grid--footer{
        grid-template-columns: repeat(6, 1fr);
    }
    .logo-col, .address-col{
        grid-column: span 3;
    }
    .nav-col{
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }
}
/*mobile abaixo de 544px*/
@media (max-width: 34em){
    .grid{
        row-gap: 3.4rem;
    }
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols{
        grid-template-columns: 1fr;
    }
    .btn,
    .btn:link,
    .btn:visited{
        padding: 2.4rem 1.6rem;
    }
    .section-hero{
        padding: 2.4rem 0 6.4rem 0;
    }
    .hero{
        padding: 0 3.2rem;
    }
    .hero-img{
        width: 80%;
    }
    .step-img-box:nth-child(3){
        grid-row: 4;
    }
    .testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }
    .logos{
        flex-wrap: wrap;
        gap: 1.6rem;
        margin-bottom: 5.4rem;
    }
    .cta{
        grid-template-columns: 1fr;
    }
    .cta-text-box{
        padding: 3.2rem;
    }
    .cta-img-box{
        height: 32rem;
        grid-row: 1;
    }
    
}
@media (max-width: 24em){
    .section-featured .container{
        margin-bottom: 10.4rem;
    }
    .btn{
        margin-bottom: 1.6rem;
    }
}